html,
body {
  position: relative;
  font-family: 'Hagrid', sans-serif;
  font-weight: 500;
  color: var(--c-charcoal-brown);

  &::-webkit-scrollbar {
    display: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.inner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
