@use "./utils" as *;

// colors
:root {
  --c-terracotta-rust: #A9472C;
  --c-sand-beige: #E6D2B5;
  --c-ivory: #F9F0E8;
  --c-charcoal-brown: #312926;
  --c-olive-moss: #758353;
  --c-black: #000000;
  --c-white: #FFFFFF;
  --c-sand: #D1B296;

  --c-line-brown: #413733;
  --c-line-red: #D36242;
  --c-line-grey: #5044404D;
}

// offsets
:root {
  --offset-main: 40px;

  @include mobile() {
    --offset-main: 16px;
  }
}

// z-index
:root {
  --z-bg: -1;
  --z-base: 1;
  --z-line: 5;
}
